<div class = "new-post-container"> 
<div class = "post-content">

<%= form_for([@post, @comment]) do |f| %>
  <div class="field">
    <%= f.label :text, "Add a new Comment" %><br>
    <%= f.text_area :text, rows: 5,cols:60, style: "border-radius:6px" %>
  </div>
  <div class="actions">
    <%= f.submit "Post Comment", class: "btn-create-post" %>
  </div>
<% end %>
</div>
</div>
