<div class="post-container"> 
<p class="post-text"><%= truncate(post.text, length: 20) %></p>
 
  <p class="num-posts comment-like">Comments:  <%= post.comments_counter %></p>
  <p class = "num-posts comment-like">&nbsp;Likes: <%= post.likes_counter %></p>
 
</div>
