<div class="mt-12">

 <% if @users.empty? %>
    <p>there are currently no users</p>
    <%end%>
<% @users.each do |user| %>
    <%= render partial: 'partials/user', locals: { user: user } %>
    <% end %>
    </div>
