@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lobster&family=Oswald&family=Poppins:wght@300;400;500;600;700&family=Righteous&family=Roboto&display=swap');

body {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #131417;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ededed;
}

.hrt {
  width: 300px;
}

.emailtxt {
  width: 305px;
  outline: none;
}

.logo {
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  left: 1%;
}

nav {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
  background-color: #252830;
}

.sign {
  margin-right: 2%;
  border: 1px solid #fff;
  padding: 3px 10px;
  border-radius: 8px;
  color: #fff;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding-left: 0.5%;
}
